@* Here we will implement the details view for a book *@

@model Day32_CaseStudy_BookManagement.Models.Book

<h1>Book Details</h1>

<div>
    <p>ID: @Model.id</p>
    <h2>@Model.title</h2>
    <p>Price: @Model.price</p>
</div>
